.types
    background: #DDDDDD

.types-title
    text-align: left

    &__subtitle
        display: flex
        justify-content: space-between
        align-items: center

.types-main-block
    margin-top: 40px
   

.types-elem
    box-sizing: border-box
    width: 100%
    margin-top: 30px
    height: 50px
    overflow: hidden
    transition: all .3s ease
    align-items: flex-start

    @media screen and ( max-width: $tablet )
        display: block

    &__body
        border-top: $border
        transition: .3s
        border-bottom: $border
        width: 75%
        opacity: 0
        overflow: hidden
        padding: 0 10px
        box-sizing: border-box

        picture 
            display: none

        @media screen and ( max-width: $tablet )
            padding: 0
            width: 100%
            picture 
                display: block
            

    &__block
        padding: 30px 0
        @media screen and ( max-width: $tablet )
            flex-direction: column
            padding: 0

    &__download
        margin: 20px 0 12px 0

        a
            color: $white
            text-decoration: underline
            font-style: italic
            display: flex
            justify-content: flex-end

            span
                margin-right: 10px
                display: flex
                align-items: center

    &__arrow
        position: absolute
        top: 25px
        right: 10px

    &__title
        font-family: $play
        cursor: pointer
        position: relative
        height: 50px
        box-sizing: border-box
        width: 23%
        background: #fff
        border: $border
        padding: 0 10px 10px 10px

        @media screen and ( max-width: $tablet )
            width: 100%
            img
                display: none

        img
            width: 100%
            margin-top: 49px
            height: auto

        p
            position: absolute
            top: 23px
            transform: translateY(-50%)

        &:hover
            @media screen and ( min-width: $tablet )
                color: $white
                background: $orange 
                .uncover-elem__arrow
                    border-top: 8px solid $black
            

    &__price
        p
            font-size: 24px

        @media screen and ( max-width: $tablet )
            display: flex
            flex-direction: column
            padding-top: 20px

        @media screen and ( max-width: $mobile )
            align-items: center


        h3
            font-size: 30px
            font-weight: 900

        .types-button
            margin-top: 20px

            @media screen and ( max-width: $mobile )
                margin-top: 10px

    &__description
        display: flex

        @media screen and ( max-width: $tablet )
            margin-top: 15px
            width: 100%
            justify-content: space-between


        @media screen and ( max-width: 850px )
            display: block

        @media screen and ( max-width: $mobile )
            margin-top: 5px

        &-mobile
            @media screen and ( max-width: $tablet )
                display: flex
                width: 55%
                flex-direction: row-reverse
                justify-content: space-between

                picture
                    width: 50%

                .types-elem__description-text
                    width: 45%

            @media screen and ( max-width: 850px )
                width: 100%

            @media screen and ( max-width: 450px)
                flex-direction: column

                picture
                    width: 100%

                .types-elem__description-text
                    width: 100%
            
        &-text
            margin-right: 30px
            @media screen and ( max-width: $tablet )
                margin: 20px 0
            h4
                font-family: $roboto
                font-style: italic
                font-weight: 500
                margin-bottom: 10px

            p
                margin-left: 8px

        &-block
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 15px

            @media screen and ( max-width: $tablet )
                padding: 5px
                background: none
                box-shadow: none

            &-elem
                margin: 8px 0

                img
                    width: auto
                    max-width: none

                p
                    margin-left: 8px      

