* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #373D44;
}

@media screen and (max-width: 1149px) {
  body {
    font-size: 17px;
  }
}

@media screen and (max-width: 719px) {
  body {
    font-size: 16px;
  }
}

img, video {
  max-width: 100%;
  border: none;
  width: 100%;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 70px 0;
}

@media screen and (max-width: 1149px) {
  section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 719px) {
  section {
    padding: 30px 0;
  }
}

.hide {
  display: none !important;
}

@media screen and (min-width: 1150px) {
  .hide-on-desctop {
    display: none !important;
  }
}

@media screen and (max-width: 719px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1149px) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 720px) {
  .show-in-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1150px) {
  .show-in-tablet {
    display: none !important;
  }
}

.j-con-space-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.j-con-space-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-icon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-container-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-before-submit-form {
  position: relative;
  background: #fff;
  padding: 25px;
  width: 100%;
  max-height: 100vh;
  height: 300px;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.popup-before-submit-form-title {
  width: 80%;
}

.popup-before-submit-form-title__title {
  color: #F15A05;
  font-family: "Play", sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}

@media screen and (max-width: 719px) {
  .popup-before-submit-form-title {
    width: 100%;
  }
}

.popup-before-submit-form__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: auto;
}

.popup-before-submit-form-phone {
  text-align: right;
}

.popup-before-submit-form-phone__phone {
  color: #F15A05;
  font-family: "Play", sans-serif;
  font-size: 32px;
}

.popup-before-submit-form-phone__title {
  font-size: 20px;
}

@media screen and (max-width: 719px) {
  .popup-before-submit-form-phone__phone {
    font-size: 25px;
  }
  .popup-before-submit-form-phone__title {
    font-size: 16px;
  }
}

.popup-before-click-button {
  height: 100%;
  margin: auto;
  width: 380px;
  max-width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-before-click-button .input-country {
  padding: 0;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #373D44;
  -webkit-transition: .2s;
  transition: .2s;
}

.download div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.form {
  height: auto !important;
  max-height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #F16805;
  padding: 16px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
}

@media screen and (max-height: 420px) {
  .form {
    overflow: auto;
  }
}

.form__title {
  text-align: center;
  color: #F15A05;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form__list {
  color: #373D44;
  font-size: 17px;
  margin-bottom: 3px;
}

@media screen and (max-width: 719px) {
  .form__list {
    font-size: 15px;
  }
}

.form__list-block {
  width: 100%;
}

.form__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 18px 0 10px 0;
}

.form__input input {
  background: #FFF8F1;
  border: 1px solid #E5E5E5;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 2px;
  font-weight: 300;
  color: #5e5555;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__input input::-webkit-input-placeholder {
  font-weight: 300;
  color: #373D44;
}

.form__input input:-ms-input-placeholder {
  font-weight: 300;
  color: #373D44;
}

.form__input input::-ms-input-placeholder {
  font-weight: 300;
  color: #373D44;
}

.form__input input::placeholder {
  font-weight: 300;
  color: #373D44;
}

.form__input-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input-phone .input-country {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  text-align: center;
}

.form__input-phone .input-phone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 79%;
}

.form__confidentiality {
  font-size: 14px;
  color: #9D9393;
  text-align: center;
  margin-top: 15px;
}

.form__confidentiality a {
  color: #9D9393;
}

@media screen and (max-width: 719px) {
  .form__confidentiality {
    font-size: 13px;
  }
}

.button {
  width: 175px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F16805), color-stop(65.89%, #E8562A));
  background: linear-gradient(180deg, #F16805 0%, #E8562A 65.89%);
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 15px 0;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-143%, #FD6200), color-stop(-76.33%, #E94B1C));
  background: linear-gradient(180deg, #FD6200 -143%, #E94B1C -76.33%);
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.orange {
  color: #F15A05;
}

.white {
  color: #F2F2F2;
}

.title {
  text-align: center;
  font-family: "Play", sans-serif;
}

.title h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1149px) {
  .title h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 719px) {
  .title h2 {
    font-size: 24px;
  }
}

.title p {
  font-size: 32px;
}

@media screen and (max-width: 1149px) {
  .title p {
    font-size: 26px;
  }
}

@media screen and (max-width: 719px) {
  .title p {
    font-size: 20px;
  }
}

.slick-prev, .slick-next {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: transparent;
  padding: 0;
  background: transparent;
  border: 0;
}

.slick-prev:active, .slick-next:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slick-prev::after, .slick-next::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #F15A05;
  border-left: 10px solid #F15A05;
  left: 10px;
  top: 10px;
}

.slick-prev::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-next::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header {
  background: #2B2B2C;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1149px) {
  .container-header {
    width: 100%;
  }
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.messenger-number {
  position: absolute;
  bottom: -190px;
  left: calc(50% - 150px);
  width: 300px;
  height: 400px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  -webkit-transform: perspective(1000px) rotate3d(180, 0, 0, 91deg);
          transform: perspective(1000px) rotate3d(180, 0, 0, 91deg);
}

.messenger-number__transparent {
  height: 55%;
}

.messenger-number__white {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messenger-number__white h3 {
  margin-top: 20px;
  font-size: 24px;
}

.messenger-number__close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 10px;
}

.messenger-number__close svg {
  width: 15px;
  height: 15px;
}

.messenger-number-active {
  opacity: 1;
  -webkit-transform: perspective(1000px) rotate3d(180, 0, 0, 0deg);
          transform: perspective(1000px) rotate3d(180, 0, 0, 0deg);
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
}

.navbar-logo__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__description {
  margin-left: 10px;
}

.navbar-logo__description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.navbar-messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  cursor: pointer;
  width: 16%;
}

.navbar-messenger:hover svg, .navbar-messenger:hover path {
  fill: #fff;
}

.navbar-messenger div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.navbar-data {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-data__language {
  margin-right: 50px;
  cursor: auto;
}

.navbar-data__language a {
  color: #F2F2F2;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-data__language a:hover {
  color: #fff;
  font-weight: 400;
}

.navbar-data__language .language-main {
  font-weight: bold;
}

.navbar-data__language .language-main:hover {
  color: #fff;
  font-weight: bold;
}

.navbar-data__email {
  color: #F15A05;
  font-weight: bold;
  display: block;
  font-size: 14px;
  text-align: right;
}

.navbar-data__phone {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 26px;
  font-family: "Play", sans-serif;
}

.navbar-data__phone div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.navbar-data__description {
  font-size: 12px;
  font-weight: 300;
  color: #ECECEC;
}

.mobile-navbar-top {
  z-index: 5;
  background: #2B2B2C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

.mobile-navbar-top__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.mobile-navbar-bottom {
  background: white;
  margin-top: 45px;
  border-bottom: 1px solid #E5E5E5;
}

.mobile-navbar-bottom__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.mobile-navbar-bottom-phone a {
  font-weight: bold;
  color: #50555B;
}

.mobile-navbar-bottom-messenger {
  width: 30%;
  max-width: 200px;
  height: 80%;
}

.mobile-navbar-bottom-messenger__elem {
  width: 30%;
  height: auto;
}

.mobile-navbar-bottom-messenger img {
  height: 100%;
}

.mobile-navbar svg {
  height: 30px;
}

.navbar-menu {
  width: 25%;
}

.navbar-menu-burger {
  width: 55px;
  padding: 10px 30px 10px 0;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu__strip {
  position: relative;
}

.navbar-menu__strip::after, .navbar-menu__strip::before {
  content: '';
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0, 0.96, 0.58, 1);
  transition: 0.3s cubic-bezier(0, 0.96, 0.58, 1);
}

.navbar-menu__strip::after, .navbar-menu__strip::before, .navbar-menu__strip {
  -webkit-transition-duration: 0;
          transition-duration: 0;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #F2F2F2;
}

.navbar-menu__strip::before {
  top: -8px;
}

.navbar-menu__strip::after {
  bottom: -8px;
}

.navbar-menu-body {
  position: fixed;
  left: -100%;
  height: calc(100% - 45px);
  top: 45px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  background: #F2F2F2;
  bottom: 0;
  margin: 0;
  padding: 25px;
  overflow-y: auto;
  width: 100vw;
  -ms-touch-action: pan-y pan-x;
      touch-action: pan-y pan-x;
}

.navbar-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-menu-list a {
  color: #373D44;
  padding: 10px 0;
  font-size: 22px;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 1px solid transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-menu-list a:active {
  border-bottom: 2px solid #F15A05;
}

.navbar-menu-active .navbar-menu-body {
  left: 0;
}

.navbar-menu-active .navbar-menu__strip {
  background: transparent;
}

.navbar-menu-active .navbar-menu__strip::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navbar-menu-active .navbar-menu__strip::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.language-swich {
  width: 25%;
  text-transform: uppercase;
  text-align: right;
}

.language-swich-block {
  position: relative;
  display: inline-block;
}

.language-swich-button {
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-swich-triangle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #F15A05;
  margin-left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

.language-swich-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F2F2F2;
  padding: 5px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  font-size: 22px;
  right: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  top: 50px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
}

.language-swich-list a {
  color: #373D44;
  padding: 5px 20px;
}

.language-swich-active .language-swich-list {
  top: 40px;
  opacity: 1;
  visibility: visible;
}

.language-swich-active .language-swich-triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.head {
  padding: 40px 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #EDEDED;
  min-height: calc(100vh - 80px);
}

@media screen and (max-width: 1149px) {
  .head {
    min-height: auto;
    padding: 40px 2.5% 30px 0;
  }
}

@media screen and (max-width: 719px) {
  .head {
    padding: 20px 0 10px 0;
  }
}

@media screen and (max-width: 1149px) {
  .head .container {
    width: 100%;
  }
}

@media screen and (max-width: 719px) {
  .head .container {
    width: 95%;
  }
}

.head-title {
  text-align: center;
  font-family: "Play", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1149px) {
  .head-title {
    padding-left: 2.5%;
  }
}

@media screen and (max-width: 719px) {
  .head-title {
    padding-left: 0;
  }
}

.head-title__title {
  font-size: 45px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1149px) {
  .head-title__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 719px) {
  .head-title__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.head-title__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 1149px) {
  .head-title__subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 719px) {
  .head-title__subtitle {
    font-size: 20px;
    font-weight: 400;
  }
}

.head-main-block {
  background: #EDEDED url(../img/1-head/head-domkrat.png) center no-repeat;
  padding: 90px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1149px) {
  .head-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: left;
    background-size: auto 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    margin: 50px 0;
  }
}

@media screen and (max-width: 850px) {
  .head-main-block {
    background-position-x: -15%;
  }
}

@media screen and (max-width: 800px) {
  .head-main-block {
    background-position-x: -25%;
  }
}

@media screen and (max-width: 780px) {
  .head-main-block {
    background-position-x: -65%;
  }
}

@media screen and (max-width: 719px) {
  .head-main-block {
    background-position: center;
  }
}

.head-main-block__form {
  width: 380px;
}

@media screen and (max-width: 719px) {
  .head-main-block__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.head-main-block__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1149px) {
  .head-main-block__discount {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 719px) {
  .head-main-block__discount {
    width: 100%;
    margin-bottom: 250px;
    background: rgba(255, 255, 255, 0.9);
  }
}

.head-main-block__discount .stick {
  width: 4px;
  background: #F16805;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-right: 8px;
}

.head-main-block__discount .discount-description h3 {
  font-size: 22px;
  font-weight: 400;
}

.head-main-block__discount .discount-description h2 {
  color: #F15A05;
  font-size: 33px;
  font-weight: 33px;
}

.head-main-block__discount .discount-description img {
  width: 260px;
}

.head-main-block__discount .discount-description p {
  font-size: 14px;
}

@media screen and (max-width: 719px) {
  .head-main-block__discount .discount-description h3 {
    font-size: 18px;
  }
  .head-main-block__discount .discount-description h2 {
    font-size: 28px;
  }
}

.head-pains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1149px) {
  .head-pains {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 2.5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 719px) {
  .head-pains {
    padding-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .head-pains {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.head-pains svg {
  width: 48px;
}

.head-pains__pain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.head-pains__pain h3 {
  font-size: 18px;
  margin: 3px 0 4px 0;
}

@media screen and (max-width: 450px) {
  .head-pains__pain h3 {
    margin: 0;
  }
}

.head-pains__pain p {
  font-size: 16px;
}

@media screen and (max-width: 1149px) {
  .head-pains__pain {
    width: 30%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .head-pains__pain {
    width: 46%;
  }
}

@media screen and (max-width: 450px) {
  .head-pains__pain {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .head-pains__pain br {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .head-pains__svg {
    width: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
  }
}

.comparison {
  background: #2B2B2C url("../img/comparison-bg.jpg") no-repeat center;
  background-position: top;
  background-size: cover;
}

.comparison-title {
  color: #F2F2F2;
}

.comparison-main-block {
  margin-top: 65px;
}

@media screen and (max-width: 719px) {
  .comparison-main-block {
    margin-top: 35px;
  }
}

.comparison-elem {
  margin-top: 30px;
  color: #F2F2F2;
  font-size: 16px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.comparison-elem__body {
  border-top: 2px solid #F15A05;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #F15A05;
  margin-top: 25px;
  width: 60%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 18px;
  padding: 0 10px;
}

@media screen and (max-width: 1149px) {
  .comparison-elem__body {
    width: 100%;
    border-top: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1149px) {
  .comparison-elem__body {
    font-size: 16px;
  }
}

.comparison-elem__body p {
  margin: 12px 0;
  font-weight: 300;
}

.comparison-elem__block {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  .comparison-elem__block {
    padding: 15px 0;
  }
}

.comparison-elem__download {
  margin: 20px 0 12px 0;
}

.comparison-elem__download a {
  color: #F2F2F2;
  text-decoration: underline;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comparison-elem__download a span {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comparison-elem__arrow {
  position: absolute;
  top: 51%;
  right: 9%;
}

.comparison-elem__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 32%;
  font-weight: 500;
  border-left: 2px solid #F15A05;
  height: 50px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media screen and (max-width: 719px) {
  .comparison-elem__title {
    min-width: 100%;
    height: 50px;
  }
}

.comparison-elem__title p {
  position: relative;
  z-index: 2;
  width: 85%;
}

@media screen and (min-width: 1149px) {
  .comparison-elem__title:hover .uncover-elem__arrow {
    border-top: 8px solid #373D44;
  }
}

.comparison-elem__title:hover::after, .comparison-elem__title:hover::before {
  background: #F15A05;
}

@media screen and (max-width: 1149px) {
  .comparison-elem__title:hover::after, .comparison-elem__title:hover::before {
    background: transparent;
  }
}

.comparison-elem__title::after, .comparison-elem__title::before {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  left: -5%;
  height: 25px;
  border-right: 2px solid #F15A05;
}

.comparison-elem__title::before {
  top: 0;
  border-bottom: 0;
  border-top: 2px solid #F15A05;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
}

.comparison-elem__title::after {
  bottom: 0;
  border-top: 0;
  border-bottom: 2px solid #F15A05;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}

.uncover-elem {
  height: 50px;
  overflow: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1149px) {
  .uncover-elem {
    display: block;
  }
}

.uncover-elem__body {
  opacity: 0;
}

.uncover-elem__arrow {
  width: 0;
  z-index: 2;
  height: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #F15A05;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.uncover-elem-active .uncover-elem__body {
  opacity: 1;
}

.uncover-elem-active .comparison-elem__title {
  color: #151617;
}

.uncover-elem-active .comparison-elem__title::after, .uncover-elem-active .comparison-elem__title::before {
  background: #F15A05;
}

.uncover-elem-active .types-elem__title {
  color: #F2F2F2;
  background: #F15A05;
  height: auto;
}

.uncover-elem-active .uncover-elem__arrow {
  -webkit-transform: translateY(-65%) rotate(-180deg);
          transform: translateY(-65%) rotate(-180deg);
  border-top: 8px solid #373D44;
}

.uncover-elem-active-mobile .uncover-elem__body {
  opacity: 1;
  border: none;
}

.uncover-elem-active-mobile .comparison-elem__title {
  font-weight: bold;
}

.uncover-elem-active-mobile .comparison-elem__title::after, .uncover-elem-active-mobile .comparison-elem__title::before {
  background: #F15A05;
}

.uncover-elem-active-mobile .types-elem__title {
  background: #F15A05;
  color: #F2F2F2;
}

.uncover-elem-active-mobile .uncover-elem__arrow {
  border-top: 8px solid #F2F2F2;
  -webkit-transform: translateY(-65%) rotate(-180deg);
          transform: translateY(-65%) rotate(-180deg);
}

.types {
  background: #DDDDDD;
}

.types-title {
  text-align: left;
}

.types-title__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types-main-block {
  margin-top: 40px;
}

.types-elem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1149px) {
  .types-elem {
    display: block;
  }
}

.types-elem__body {
  border-top: 2px solid #F15A05;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #F15A05;
  width: 75%;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.types-elem__body picture {
  display: none;
}

@media screen and (max-width: 1149px) {
  .types-elem__body {
    padding: 0;
    width: 100%;
  }
  .types-elem__body picture {
    display: block;
  }
}

.types-elem__block {
  padding: 30px 0;
}

@media screen and (max-width: 1149px) {
  .types-elem__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.types-elem__download {
  margin: 20px 0 12px 0;
}

.types-elem__download a {
  color: #F2F2F2;
  text-decoration: underline;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.types-elem__download a span {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types-elem__arrow {
  position: absolute;
  top: 25px;
  right: 10px;
}

.types-elem__title {
  font-family: "Play", sans-serif;
  cursor: pointer;
  position: relative;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23%;
  background: #fff;
  border: 2px solid #F15A05;
  padding: 0 10px 10px 10px;
}

@media screen and (max-width: 1149px) {
  .types-elem__title {
    width: 100%;
  }
  .types-elem__title img {
    display: none;
  }
}

.types-elem__title img {
  width: 100%;
  margin-top: 49px;
  height: auto;
}

.types-elem__title p {
  position: absolute;
  top: 23px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1149px) {
  .types-elem__title:hover {
    color: #F2F2F2;
    background: #F15A05;
  }
  .types-elem__title:hover .uncover-elem__arrow {
    border-top: 8px solid #373D44;
  }
}

.types-elem__price p {
  font-size: 24px;
}

@media screen and (max-width: 1149px) {
  .types-elem__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
}

@media screen and (max-width: 719px) {
  .types-elem__price {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.types-elem__price h3 {
  font-size: 30px;
  font-weight: 900;
}

.types-elem__price .types-button {
  margin-top: 20px;
}

@media screen and (max-width: 719px) {
  .types-elem__price .types-button {
    margin-top: 10px;
  }
}

.types-elem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1149px) {
  .types-elem__description {
    margin-top: 15px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 850px) {
  .types-elem__description {
    display: block;
  }
}

@media screen and (max-width: 719px) {
  .types-elem__description {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1149px) {
  .types-elem__description-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .types-elem__description-mobile picture {
    width: 50%;
  }
  .types-elem__description-mobile .types-elem__description-text {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  .types-elem__description-mobile {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .types-elem__description-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .types-elem__description-mobile picture {
    width: 100%;
  }
  .types-elem__description-mobile .types-elem__description-text {
    width: 100%;
  }
}

.types-elem__description-text {
  margin-right: 30px;
}

@media screen and (max-width: 1149px) {
  .types-elem__description-text {
    margin: 20px 0;
  }
}

.types-elem__description-text h4 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 10px;
}

.types-elem__description-text p {
  margin-left: 8px;
}

.types-elem__description-block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px;
}

@media screen and (max-width: 1149px) {
  .types-elem__description-block {
    padding: 5px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.types-elem__description-block-elem {
  margin: 8px 0;
}

.types-elem__description-block-elem img {
  width: auto;
  max-width: none;
}

.types-elem__description-block-elem p {
  margin-left: 8px;
}

.appointment {
  background: #EDEDED;
}

.appointment .slick-prev {
  top: 50%;
  z-index: 2;
}

.appointment .slick-next {
  top: 50%;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1149px) {
  .appointment-main-block {
    margin-top: 30px;
  }
}

.appointment-elem {
  margin-top: 55px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1149px) {
  .appointment-elem {
    margin: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media screen and (max-width: 719px) {
  .appointment-elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.appointment-elem__img {
  border: 1px solid #949AA2;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  display: inherit;
  position: relative;
}

@media screen and (max-width: 719px) {
  .appointment-elem__img {
    width: 100%;
  }
}

.appointment-elem__img picture {
  display: inherit;
  width: 100%;
}

.appointment-elem__img img {
  width: 100%;
}

.appointment-elem__description {
  width: 73%;
}

@media screen and (max-width: 719px) {
  .appointment-elem__description {
    width: 100%;
  }
}

.appointment-elem__description h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 719px) {
  .appointment-elem__description h3 {
    margin: 8px 0 6px 0;
  }
}

.appointment-elem__description p {
  margin-bottom: 8px;
  line-height: 26px;
}

.appointment-elem__description h4 {
  font-size: 19px;
  font-weight: 500;
  padding: 5px 0 5px 10px;
  border-left: 2px solid #F15A05;
}

@media screen and (max-width: 1149px) {
  .block-for-slider {
    width: 100%;
    position: relative;
  }
  .viewport-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .wrapper-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    width: calc(100%*3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .wrapper-slider .appointment-elem {
    width: 95vw;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.price {
  background: #2B2B2C url("../img/price-bg.jpg") center no-repeat;
  background-size: cover;
}

.price-main-block {
  margin-top: 70px;
}

@media screen and (max-width: 1149px) {
  .price-main-block {
    margin-top: 60px;
  }
}

@media screen and (max-width: 719px) {
  .price-main-block {
    margin-top: 40px;
  }
}

.price-types-block {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.price-types-block .price-type {
  cursor: pointer;
  width: 29%;
  padding: 10px 0;
  border: 2px solid #F15A05;
  color: #F2F2F2;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.price-types-block .price-type:hover {
  background: rgba(211, 76, 1, 0.31);
}

.price-types-block .price-type-active {
  background: #F15A05;
}

.price-types-block .price-type-active:hover {
  background: #F15A05;
}

@media screen and (max-width: 719px) {
  .price-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price-images {
  width: 40%;
}

@media screen and (max-width: 1149px) {
  .price-images {
    width: 50%;
  }
}

@media screen and (max-width: 719px) {
  .price-images {
    width: 100%;
  }
}

.price-images__description {
  margin-top: 5px;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

@media screen and (max-width: 719px) {
  .price-main-image {
    width: 65%;
  }
}

@media screen and (max-width: 719px) {
  .price-images-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price-side-images {
  margin-top: 25px;
}

@media screen and (max-width: 719px) {
  .price-side-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    width: 30%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.price-side-images__elem {
  width: 47%;
}

@media screen and (max-width: 719px) {
  .price-side-images__elem {
    width: 100%;
  }
}

.price-side-images__elem picture, .price-side-images__elem img {
  display: inherit;
}

.price-description {
  width: 50%;
  color: #F2F2F2;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1149px) {
  .price-description {
    font-size: 18px;
    width: 40%;
  }
}

@media screen and (max-width: 719px) {
  .price-description {
    font-size: 16px;
    width: 100%;
  }
}

.price-description .download {
  line-height: 46px;
  margin-bottom: 40px;
}

@media screen and (max-width: 719px) {
  .price-description .download {
    margin: 20px 0;
  }
}

.price-description__text {
  font-style: italic;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

@media screen and (max-width: 1149px) {
  .price-description__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .price-description__text br {
    display: none;
  }
}

@media screen and (max-width: 719px) {
  .price-description__text {
    font-size: 15px;
  }
}

.price-button {
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1149px) {
  .price-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 719px) {
  .price-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.materials-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.materials-list__elem {
  height: 30px;
  margin-bottom: 10px;
  text-align: right;
}

@media screen and (max-width: 1149px) {
  .materials-list__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px dashed #F2F2F2;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 719px) {
  .materials-list__elem {
    width: 100%;
  }
}

.experience {
  background: #A5A4A4;
}

.reviews {
  background: #2B2B2C url("../img/reviews-bg.jpg") no-repeat center;
  background-size: cover;
}

.reviews-main-block {
  margin-top: 75px;
}

@media screen and (max-width: 1149px) {
  .reviews-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

@media screen and (max-width: 719px) {
  .reviews-main-block {
    margin-top: 40px;
  }
}

.reviews-video-container {
  width: 62%;
}

@media screen and (max-width: 1149px) {
  .reviews-video-container {
    width: 100%;
  }
}

.video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.video video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.reviews-form {
  width: 33%;
}

@media screen and (max-width: 1149px) {
  .reviews-form {
    margin-top: 20px;
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 719px) {
  .reviews-form {
    width: 100%;
    text-align: center;
  }
}

.reasons {
  background: #F1F3FA;
}

.reasons .img-1 {
  background: url("../img/8-reasons/reasons-1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-2 {
  background: url("../img/8-reasons/reasons-2.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-3 {
  background: url("../img/8-reasons/reasons-3.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-4 {
  background: url("../img/8-reasons/reasons-1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-5 {
  background: url("../img/8-reasons/reasons-5.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-6 {
  background: url("../img/8-reasons/reasons-6.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-7 {
  background: url("../img/8-reasons/reasons-7.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-8 {
  background: url("../img/8-reasons/reasons-1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-9 {
  background: url("../img/8-reasons/reasons-1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-10 {
  background: url("../img/8-reasons/reasons-10.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons .img-11 {
  background: url("../img/8-reasons/reasons-1.jpg") center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.reasons-main-block {
  margin-top: 70px;
}

@media screen and (max-width: 1149px) {
  .reasons-main-block {
    margin-top: 50px;
  }
}

@media screen and (max-width: 719px) {
  .reasons-main-block {
    margin-top: 35px;
  }
}

.reasons-black-bg {
  background: #221E1B;
}

.reasons-brown-bg {
  background: #3A3330;
  padding: 60px 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 1149px) {
  .reasons-brown-bg {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 719px) {
  .reasons-brown-bg {
    margin-bottom: 30px;
    padding: 40px 0;
  }
}

.reasons-elem {
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
}

@media screen and (max-width: 1149px) {
  .reasons-elem {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 719px) {
  .reasons-elem {
    margin-bottom: 30px;
  }
}

.reasons-elem.reasons-white {
  background: #fff;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 719px) {
  .reasons-elem.reasons-white:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 719px) {
  .reasons-elem.reasons-white {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reasons-elem-img {
  width: 48%;
  min-height: 285px;
  position: relative;
}

@media screen and (max-width: 719px) {
  .reasons-elem-img {
    height: 200px;
    min-height: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 479.33333px) {
  .reasons-elem-img {
    height: 150px;
  }
}

.reasons-elem-number {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
}

.reasons-elem-description {
  width: 52%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 719px) {
  .reasons-elem-description {
    width: 100%;
    padding: 15px 10px;
  }
}

.reasons-elem-description__body {
  width: 100%;
}

.reasons-elem-description h3 {
  color: #F15A05;
  font-family: "Play", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 14px;
}

.reasons-elem-description p {
  font-size: 17px;
  margin-bottom: 12px;
}

.reasons-elem-description span {
  font-weight: 500;
}

.reasons-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #F2F2F2;
  padding: 60px 0;
}

@media screen and (max-width: 719px) {
  .reasons-black {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
}

.reasons-black-instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.reasons-black-instruction p {
  font-size: 15px;
  margin-bottom: 5px;
}

.reasons-black-instruction__elem {
  width: 47%;
}

.reasons-black .reasons-elem-number {
  color: #373D44;
}

.reasons-black .reasons-elem-img {
  width: 45%;
  margin: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 1149px) {
  .reasons-black .reasons-elem-img {
    width: 50%;
  }
}

@media screen and (max-width: 719px) {
  .reasons-black .reasons-elem-img {
    margin: 0 0 20px 0;
    width: 100%;
  }
}

.reasons-black .reasons-elem-description {
  width: 50%;
  padding: 0;
}

@media screen and (max-width: 1149px) {
  .reasons-black .reasons-elem-description {
    width: 50%;
  }
}

@media screen and (max-width: 719px) {
  .reasons-black .reasons-elem-description {
    width: 100%;
  }
}

.reasons-brown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #F2F2F2;
  margin-bottom: 40px;
}

@media screen and (max-width: 719px) {
  .reasons-brown {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 719px) {
  .reasons-brown:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.reasons-brown:nth-child(2) {
  margin: 0;
}

.reasons-brown .reasons-elem-number {
  color: #373D44;
}

.reasons-brown .reasons-elem-img {
  width: 55%;
  border-radius: 5px;
}

@media screen and (max-width: 1149px) {
  .reasons-brown .reasons-elem-img {
    width: 45%;
  }
}

@media screen and (max-width: 719px) {
  .reasons-brown .reasons-elem-img {
    width: 100%;
  }
}

.reasons-brown .reasons-elem-description {
  width: 40%;
  padding: 0;
}

@media screen and (max-width: 1149px) {
  .reasons-brown .reasons-elem-description {
    width: 50%;
  }
}

@media screen and (max-width: 719px) {
  .reasons-brown .reasons-elem-description {
    width: 100%;
  }
}

.request {
  background: url("../img/request-bg.jpg") center no-repeat;
  background-size: cover;
}

.request .container {
  text-align: center;
}

.request-main-block {
  display: inline-block;
  margin: 0 auto;
}

.request-form {
  margin-top: 60px;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding-left: 30px;
}

@media screen and (max-width: 1149px) {
  .request-form {
    margin-top: 40px;
  }
}

@media screen and (max-width: 719px) {
  .request-form {
    margin-top: 20px;
    padding: 0;
  }
}

.request-form .req-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request-form .req-form input {
  border: 1px solid transparent;
  border-bottom: 1px solid #F15A05;
  background: transparent;
  padding: 5px;
}

.request-form .form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 78%;
}

.request-form .form__input-phone {
  margin-left: 20px;
}

.request-form .form__input-phone .input-phone {
  margin-left: 10px;
  margin-right: 30px;
}

.request-form .button {
  border-radius: 0;
  width: 20%;
}

@media screen and (max-width: 719px) {
  .request-form .button {
    width: 175px;
  }
}

.contact {
  padding-bottom: 0;
}

.maps {
  height: 500px;
  max-height: 65vh;
  margin-top: 50px;
}

@media screen and (max-width: 1149px) {
  .maps {
    height: 50vh;
    margin-top: 30px;
  }
}

.contact-main-block {
  margin-top: 70px;
}

@media screen and (max-width: 1149px) {
  .contact-main-block {
    margin-top: 50px;
  }
}

@media screen and (max-width: 719px) {
  .contact-main-block {
    margin-top: 35px;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1149px) {
  .contact-info-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-info h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.contact-info .circle {
  border-radius: 50%;
  background: #F15A05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info .data-circle {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 719px) {
  .contact-info .data-circle {
    height: 30px;
    width: 30px;
  }
}

.contact-info svg {
  height: 65%;
  width: auto;
}

.contact-info-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1149px) {
  .contact-info-data {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .contact-info-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-info-data__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

@media screen and (max-width: 1149px) {
  .contact-info-data__elem {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .contact-info-data__elem {
    margin-right: 0;
  }
}

.contact-info-data .contact-data-description {
  margin-left: 15px;
}

@media screen and (max-width: 1149px) {
  .contact-info-messengers__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .contact-info-messengers__body {
    display: block;
  }
}

.contact-info-messengers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  color: #373D44;
}

@media screen and (max-width: 1149px) {
  .contact-info-messengers a {
    margin-right: 25px;
  }
}

@media screen and (max-width: 350px) {
  .contact-info-messengers a {
    margin-right: 0;
  }
}

.contact-info-messengers .mes-circle {
  height: 30px;
  width: 30px;
}

.contact-info-messengers p {
  margin-left: 5px;
}

.footer {
  padding: 35px 0;
}

.footer-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 719px) {
  .footer-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-main-block img {
  width: 200px;
}

.footer-main-block p, .footer-main-block a {
  font-size: 16px;
}

@media screen and (max-width: 719px) {
  .footer-main-block p {
    margin: 20px 0 10px 0;
  }
}

.footer-main-block a {
  color: #878B8F;
  border-bottom: 1px solid #878B8F;
}

.footer-main-block a:hover {
  color: #373D44;
  border-bottom: 1px solid #373D44;
}
/*# sourceMappingURL=style.css.map */